<suite name="GFLFinalProject">
    <test name="LoginPage">
        <classes>
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>
    <test name="AllItemsPage">
        <classes>
            <class name="tests.AllItemsPageTest"/>
            <class name="tests.ShoppingCartCounterTest"/>
        </classes>
    </test>
    <test name="BurgerMenu">
        <classes>
            <class name="tests.BurgerMenuTest"/>
        </classes>
    </test>
   <test name="SortingOnAllItemsPage">
       <classes>
           <class name="tests.SortingOnAllItemsPageTest"/>
       </classes>
   </test>
</suite>
