<suite name="GFLFinalProject">
    <test name="LoginPage">
        <classes>
            <!--            <class name="tests.BaseParametersForTest"/>-->
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>
    <test name="AllItemsPage">
        <classes>
            <class name="tests.AllItemsPageTest"/>
            <class name="tests.ShoppingCartCounterTest"/>
        </classes>
    </test>
</suite>
